.page-main {
  border: 1px solid black;
  height: 610px;
  width: 100%;
  background-color: rgb(228, 226, 226);
}

.home_main {
  width: 100%;
  /* height: 100%; */
  margin-top: 5px;
  margin-bottom: 20px;
}
.category {
  height: 100%;
  width: 10%;
  border: 3px solid black;
  padding: 5px;
  background-color: rgb(72, 177, 40);
  background-image: linear-gradient(180deg, rgb(98, 252, 93), yellow);
  list-style-type: none;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.category h2 {
  margin-top: 5px;
}
.category_item {
  padding-bottom: 30px;
  margin-top: 3px;
}
.nav-Links {
  padding-left: 2px;
  font-size: 22px;
}
.body_mid {
  float: left;
  height: 30px;
  width: 65%;
  padding: 5px;
  margin-right: 10px;
  margin-top: 8px;
  background-color: rgb(228, 231, 224);
}

.popular_items {
  border: 2px solid black;
  margin-bottom: 30px;
  height: 120px;
  background-color: rgb(0, 127, 231);
  background-image: linear-gradient(
    to bottom right,
    rgb(55, 58, 243),
    lightblue
  );
}
.pop_items_topic {
  border: 2px solid black;
  text-align: center;
}
.pop_items_items {
  padding-bottom: 50px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.most_commented {
  border: 2px solid black;
  margin-bottom: 30px;
  height: 120px;
  background-color: rgb(0, 127, 231);
  background-image: linear-gradient(
    to bottom right,
    rgb(55, 58, 243),
    lightblue
  );
}
.most_commented_topic {
  border: 2px solid black;
  text-align: center;
}
.most_commented_items {
  padding-bottom: 50px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.recently_visited {
  margin-bottom: 50px;
  border: 2px solid black;
  height: 120px;
  background-color: rgb(0, 127, 231);
  background-image: linear-gradient(
    to bottom right,
    rgb(55, 58, 243),
    lightblue
  );
}
.recently_visited_topic {
  border: 1px solid black;
  text-align: center;
}
.recently_visited_items {
  text-align: center;
  padding-bottom: 50px;
  margin-top: 20px;
  font-size: 20px;
}
.ad-main {
  height: 80%;
  width: 250px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
.ad {
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
  height: 150px;
  background-color: rgb(176, 252, 146);
  text-align: center;
  width: 230px;
  float: right;
}

.home_footer {
  border: 1px solid black;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .page-main {
    border: 1px solid black;
    height: 600px;
    width: 100%;
    background-color: rgb(228, 226, 226);
  }
  .category {
    height: auto;
    width: 24%;
    border: 3px solid black;
    background-color: rgb(72, 177, 40);
    background-image: linear-gradient(180deg, rgb(98, 252, 93), yellow);
    list-style-type: none;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .nav-Links {
    font-size: 18px;
  }
  .body_mid {
    float: left;
    width: 40%;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(228, 231, 224);
  }

  .ad-main {
    height: 30px;
    width: 20px;
    float: right;
  }
  .ad {
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 5px;
    height: 125px;
    background-color: rgb(176, 252, 146);
    text-align: center;
    width: 110px;
    float: right;
  }
  .recently_visited {
    height: 115px;
  }
  .most_commented {
    height: 115px;
  }
  .popular_items {
    height: 115px;
  }
}
