

/* .Car-main {
  border: 1px solid black;
  height: 755px;
  width: 100%;
  background-color: rgb(228, 226, 226);
}

.addpost_div{
width: 100px;
height: 50px;


}

.addcar_post{
  background-color: rgb(48, 47, 40);
  border: none;
  color: rgb(197, 77, 77);
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  
  cursor: pointer;
  width: 150px;
  height: 70px;
}
img{

  width: 100%;
  height: 100%;
}

.contain1 {
  padding: 12px;
  background-color: #3a7dc9d7;
  color: #000000;
  height: auto;
  width: 315px;
  border: 1px solid;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: 10px;
  float: left;
  text-align: center;
}

.contain1 .images {
  width: 90px;
  height: 100px;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  text-align: center;
  float: center;
  margin-left: 125px;
}

.contain1 button {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: center;
}
.category-main .category {
  float: left;
  height: auto;
}
/* .category_item {
  padding-bottom: 30px;
  margin-top: 30px;
} */
/* .category-part {
  width: 100%;
}
.category-part {
  text-align: center;
  font-size: 50px;
  width: 97%;
  margin-bottom: 20px;
} */ */
/* .category-part button {
  width: auto;
  height: 30px;
  float: right;
  font-size: large;
  margin-top: 20px;
  text-decoration: none;
} */
/* .addcar_post {
  text-decoration: none;
} */
.category-car-header h1{

  font-size: 80px;
  text-align: center;
  /* float: right; */
}
div h1{

  text-align: center;
  font-size: 50px;
}
.category-car-header .addcar_post{
  float: right;
  height: 40px;
  font-size: 20px;
  margin-top: 0px;
}
.car-body{
  margin-top: 80px;
}
.category-car-header{
  background-color: aqua;
  
}


.add_post{
float: right;
height: 40px;
width: 130px;
font-size: 20px;
background-color: blanchedalmond;
border-radius: 20px;
box-shadow: brown;

}

.home_footer {
 

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}



@media only screen and (max-width: 600px) {
  form {
    width: 40%;
  }
}

@media  only screen and (max-width: 300px) {

div catergory{

  margin-left: 0px;
}
}
